#mainTitle{
  text-align: justify;
  background-color: black;
  height: 250px;
  position: relative;
  text-justify: inter-word;
}
#hid{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(29, 149, 253);
  position : absolute;
  top:0px;
  left: 40%;
  font-weight: lighter;
  font-size: 80px;
}

#tid{
  align-items: center;
  color: rgb(243, 244, 245);
  position : absolute;
  top:175px;
  left: 35%;
}
